<a href="https://colab.research.google.com/github/VictorLuna02012003/clases_de_python/blob/main/01_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Buena praxis</h1>


1.- Escribir todo en minuscula   
2.- No usar numeros y caracteres especiales en las variables   
3.- si se compone de dos palabras usar guion bajo

In [ ]:
name = 'Victor Manuel'
user_id = 1234567
progress = 0.75
exp = 60
verified = True

In [ ]:
xp = True
xp = False

print(xp)

<h1>Int (Entero)</h1>
<p>Estos tipos de datos reciben numeros enteros los cuales no aceptan decimales</p>

In [ ]:
#int
year = 2023
age = 20

<h1>float (Flotante)</h1>
hace referencia a un valor numerico que si admite decimales

In [ ]:
#float
pi = 3.141592
apple_cost = 12.99

<h1>string (Caracter)</h1>
un tipo de dato que nos permite alojar textos, estos se deben poner siempre en comillas simples o dobles:

In [ ]:
#string
apellido = 'Hernandez_Luna'
saludo = 'Hola'

<h1>Boolean</h1>
estos datos solo almacenan datos de tipo verdadero o falsos

In [ ]:
#Bool
aprovado = True
reprobado = False

<h1>Comentario</h1>

In [ ]:
#esto es un comentario

print('Hola mundo')

<h1>Concatenaci√≥n</h1>

In [ ]:
print(name, apellido, age)
print('Esto es un texto: ',verified)

<h1>Imprimir el tipo de dato</h1>

In [ ]:
print(type('hola mundo'))        #string
print(type(5))                   #int
print(type(3 + 1j))              #complex
print(type(3.1416))              #float
print(type([1, 2, 3]))           #lista
print(type({name: 'Isra'}))      #diccionario
print(type({'name':'Asabeneh'})) #diccionario

<h1>variables en una sola linea</h1>

In [ ]:
name, surname, alias, age = 'Erick', 'Borges', 'Alex', 23
print('Me llamo:', name, surname)
print('Mi edad es:', age, ',Mis amigos me dicen:', alias)

<h1>Asignar valores por el usuario</h1>

In [7]:
fist_name = (input('Ingresa tu nombre '))
edad = (input('Ingresa edad '))

print(fist_name, edad)

Ingresa tu nombreVictor Manuel
Ingresa edad 20
Victor Manuel 20

<h1>Funciones del sistema</h1>

In [ ]:
#print() = imprime en pantalla
#type() = nos da el tipo de dato a trabajar
#len() = contar caracteres
#str() = transformar datos

In [ ]:
print(len(name))

In [ ]:
my_int_variable = 4
print(my_int_variable )
print(type(my_int_variable ))

new_variable = str(my_int_variable)
print(type(new_variable))