<a href="https://colab.research.google.com/github/VictorLuna02012003/clases_de_python/blob/main/02_Operadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Operadores aritmeticos</h1>

In [1]:
print("Suma: ", 1+2)
print("Resta: ", 6-5)
print('Multiplicacion:', 5*6)
print("Division: ", 7//2)
print("Division: ", 7/2)
print('Modulo: ', 3%2)
print('Exponente', 2 ** 3)

Suma:  3
Resta:  1
Multiplicacion: 30
Division:  3
Division:  3.5
Modulo:  1
Exponente 8

podemos unir palabras usando operadores

In [2]:
print('Hola', 'Python')
print('Hola' + 'Python')
print('Hola' + str(5))
print('Hola' * 5)

Hola Python
HolaPython
Hola5
HolaHolaHolaHolaHola

In [3]:
##Estas funciones facilitan
for i in range (11):
  print('*' * i)

*
**
***
****
*****
******
*******
********
*********
**********

Ademas podemos usar los operadores con las variables

In [4]:
pizza = 20
refresco = 15
compra = pizza + refresco
propina = compra * 0.2
total = compra + propina 
print("Usted debe pagar: ", compra, 'de propina ud debe', propina, 'su total es:', total)

Usted debe pagar:  35 de propina ud debe 7.0 su total es: 42.0

In [5]:
##Esta funciones nos facilitan mucho el trabajo como por ejemplo

x = 1
suma = 0
while x<=10:
  suma += x
  x+=1
print(suma)

55

In [6]:
print('Igual a:', 2==2)   #TRUE
print('Igual a:', 2==2.00) #TRUE
print('Igual a:', 2==1.9999) #FALSE

Igual a: True
Igual a: True
Igual a: False

In [7]:
print("Distinto de:", 2!=2) #FALSE
print('Distinto de: ', 2!=3)  #TRUE

Distinto de: False
Distinto de:  True

In [8]:
print('Mayor que:', 2>3)#FALSE
print('Menor que:', 2<3)#TRUE
print('Mayor o igual que:', 4>=3)#TRUE
print('Mayor o igual que:', 3>=3)#TRUE
print("Menor o igual que:", 3<=3 )#TRUE
print("Menor o igual que:", 4<=4 )#TRUE

Mayor que: False
Menor que: True
Mayor o igual que: True
Mayor o igual que: True
Menor o igual que: True
Menor o igual que: True

In [9]:
print(len('mango') == len('melón'))#TRUE
print(len('mango') != len('melón'))#FALSE
print(len('mango') < len('melón'))#FALSE
print(len('mango') > len('melón'))#FALSE

True
False
False
False

<h1>Operadores de comparacion con texto</h1>

In [10]:
print("1 is 1", 1 is 1)                      #TRUE
print('1 is not 2', 1 is not 2)              #TRUE
print('A en Alejandro', 'A' in 'Alejandro')   #TRUE
print('L en Alejandro', 'L' in 'Alejandro')   #FALSE
print('coding' in 'coding for all')           #TRUE
print('a in an', 'a' in 'an')                 #TRUE
print('4 is 2 ** 2:', 4 is 2 ** 2 )           #TRUE

1 is 1 True
1 is not 2 True
A en Alejandro True
L en Alejandro False
True
a in an True
4 is 2 ** 2: True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-10-7f061f50d35a>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print("1 is 1", 1 is 1)                      #TRUE
<ipython-input-10-7f061f50d35a>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print('1 is not 2', 1 is not 2)              #TRUE
<ipython-input-10-7f061f50d35a>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('4 is 2 ** 2:', 4 is 2 ** 2 )           #TRUE

Operadores logicos

In [11]:
print(3 > 2 and 4 > 3)          #TRUE
print(3 > 2 and 4 < 3)          #FALSE
print(3 < 2 and 4 < 3)          #FALSE
print('True and True: ', True and True)   

print(3 > 2 or 4 > 3)           #TRUE
print(3 > 2 or 4 < 3)           #FALSE
print(3 < 2 or 4 < 3)           #FALSE
print('True or False: ', True or False )

print()

True
False
False
True and True:  True
True
True
False
True or False:  True

In [15]:
import math

fahrenheit = float(input('Ingresa los grados fahrenheit: '))
celsius = (fahrenheit - 32)/1.8
print('los grados celsius es: ', celsius,'°')

Ingresa los grados fahrenheit: 78
los grados celsius es:  25.555555555555554 °

In [16]:
mass = float(input('Ingresa tu peso: '))
height = float(input('Ingresa tu altura: '))
bml = mass/pow(height, 2)
print('Tu indice de masa corporla es: ', bml)

Ingresa tu peso: 74
Ingresa tu altura: 1.70
Tu indice de masa corporla es:  25.605536332179934