<a href="https://colab.research.google.com/github/VictorLuna02012003/clases_de_python/blob/main/04_listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_list = list()
other_list = []

print(len(my_list))
print(len(other_list))

In [ ]:
my list = [4, 5, 6, 7, 8, 9]
print(my_list)
print(type(my_list))
print(len(my_list))
print(my_list[0])

In [ ]:
other_list = [1, 2.5, 3, 'Victor', 'Luna']
print(other_list)
print(type(other_list))

In [ ]:
print(other_list[0])
print(other_list[-1])

In [ ]:
Frutas = ['banana', 'naranja', 'mango', 'limon']
print(Frutas)
Frutas.append('manzana')
print(Frutas)
Frutas.append('aguacate')
print(Frutas)

INSERTAR COMPONENTES A UNA LISTA

In [ ]:
Frutas = ['banana', 'naranja', 'mango', 'limon']
print(Frutas)
Frutas.insert(2,'manzana')
print(Frutas)
Frutas.insert(3, 'aguacate')
print(Frutas)

['banana', 'naranja', 'mango', 'limon']
['banana', 'naranja', 'manzana', 'mango', 'limon']
['banana', 'naranja', 'manzana', 'aguacate', 'mango', 'limon']

REMOVER COMPONENTES A UNA LISTA

In [ ]:
Frutas = ['banana', 'naranja', 'mango', 'limon', 'manzana', 'aguacate', 'manzana']
print(Frutas)
Frutas.remove('manzana')
print(Frutas)
Frutas.remove('aguacate')
print(Frutas)

['banana', 'naranja', 'mango', 'limon', 'manzana', 'aguacate', 'manzana']
['banana', 'naranja', 'mango', 'limon', 'aguacate', 'manzana']
['banana', 'naranja', 'mango', 'limon', 'manzana']

UNIR LISTAS

In [ ]:
positivos = [1, 2, 3, 4]
cero = [0]
negativos = [-1, -2, -3, -4]

enteros = negativos + cero + positivos

print(enteros)
print(len(enteros))

[-1, -2, -3, -4, 0, 1, 2, 3, 4]
9