<a href="https://colab.research.google.com/github/VictorLuna02012003/clases_de_python/blob/main/05_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>diferencias de una tuple y lista</h1>

In [ ]:
my_tuple = tuple()
other_tuple= ()

In [6]:
my_tuple = (1, 2.4, 3, 'Victor', 'Manuel', 'Hernandez', 'Manuel')
print(my_tuple)
print(type(my_tuple))

(1, 2.4, 3, 'Victor', 'Manuel', 'Hernandez', 'Manuel')
<class 'tuple'>

In [7]:
print(my_tuple.count('Manuel'))

2

In [8]:
print(my_tuple[0])
print(my_tuple[-1])

1
Manuel

<h1>Unir tuples</h1>

In [ ]:
tpl1 = ('item1', 'item2', 'item3')
tpl2 = ('item4', 'item5', 'item6')
tpl3 = tpl1 + tpl2
print(tpl3)

('item1', 'item2', 'item3', 'item4', 'item5', 'item6')

no se puede insertar en una tuple valores inmutables