<a href="https://colab.research.google.com/github/VictorLuna02012003/clases_de_python/blob/main/06_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
my_set = set()
other_set = {}
print(type(my_set))
print(type(other_set))

<class 'set'>
<class 'dict'>

In [4]:
other_set = {1, 2.4, 3, 'Victor Manuel', 'Hernandez', 'Luna', 'Victor Manuel'}
print(type(other_set))

<class 'set'>

In [1]:
my_set = {'banana', 'naranja', 'mango', 'limon'}
print(len(my_set))
print(my_set)

4
{'naranja', 'limon', 'mango', 'banana'}

In [2]:
print(my_set)
my_set.add('manzana')
print(my_set)

{'naranja', 'limon', 'mango', 'banana'}
{'naranja', 'manzana', 'banana', 'limon', 'mango'}

In [3]:
print(my_set)
vegetales = {'tomate', 'papa', 'zanahoria'}
print(vegetales)
my_set.update(vegetales)
print(my_set)

{'naranja', 'manzana', 'banana', 'limon', 'mango'}
{'papa', 'zanahoria', 'tomate'}
{'naranja', 'manzana', 'zanahoria', 'banana', 'papa', 'tomate', 'limon', 'mango'}

# **no se puede consultar en una posicion como en un array**

Elemento de lista        
Elemento de lista

In [ ]:
frutas = {'mango', 'manzana', 'uva'}

In [ ]:
print('Existe mango', 'mango' in frutas)

In [ ]:
frutas.remove('mango')
print(frutas)

In [10]:
frutas = {'mango', 'manzana', 'uva'}
vegetales = {'tomate', 'papa', 'zanahoria'}
print(frutas.union(vegetales))

{'papa', 'manzana', 'tomate', 'zanahoria', 'mango', 'uva'}

In [11]:
numeros = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
numeros_pares = {2, 4, 6, 8, 10, 12, 14}
print(numeros.intersection(numeros_pares))

{8, 2, 4, 6}