<a href="https://colab.research.google.com/github/VictorLuna02012003/clases_de_python/blob/main/09_Bucles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>09 bucles/loops/ciclos</h1>

In [1]:
count = 0
while count < 5:
  print(count)
  count +=1

0
1
2
3
4

In [2]:
numeros = [0, 1, 2, 3, 4, 5]
for contador in numeros:
  print(contador)

0
1
2
3
4
5

In [3]:
language = 'Python'
for i in range(len(language)):
  print(language[i])

P
y
t
h
o
n

In [4]:
person = {
    'name' : 'Erick',
    'Last_name' : 'Borgues',
    'age' : 23,
    'skills' : ['javascript', 'python', 'css'],
    'address':{
        'street': 'hola',
        'tele': '3122209425'
        
    }
}

print(person)

{'name': 'Erick', 'Last_name': 'Borgues', 'age': 23, 'skills': ['javascript', 'python', 'css'], 'address': {'street': 'hola', 'tele': '3122209425'}}

In [5]:
for key in person:
  print(key)

name
Last_name
age
skills
address

In [6]:
for key, value in person.items():
  print(value)

Erick
Borgues
23
['javascript', 'python', 'css']
{'street': 'hola', 'tele': '3122209425'}